# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer artifacts
*.egg

# pyenv
.python-version

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Task (go-task)
.task/

# VS Code
.vscode/

# macOS
.DS_Store

# Env files
.env
